header {
    padding: 10px 0;
    background: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    z-index: 9999;
    background-color: #97a97c;
}

header h2 {
    font-weight: bold;
    font-size: 3.5vw;
    color: var(--primary-color);
    margin: 0;
    align-content: flex-start;
    padding: 10px 10px 0px 50px;
}

header a {
    color: var(--primary-color);
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li {
    padding: 10px 20px;
}

header nav ul li a {
    font-size: 1.8vw;
    border-bottom: 2px solid var(--primary-color);
    padding: 10px 10px 5px 10px;
}

header nav ul li a:hover, header nav ul li a:active {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}  